* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

ul {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

.container {
  width: 940px;
  margin: 0 auto; }

.wrapper {
  font-size: 40px; }
